Repository best/pagemail: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.61.0
    hooks:
      - id: golangci-lint
        args: ['--fix']

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: go fmt ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        types: [go]
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd web && npm run lint'
        language: system
        types_or: [javascript, jsx, ts, tsx, vue]
        pass_filenames: false

feat(web): redesign frontend UI with dark mode support
  web/src/layouts/AuthLayout.vue
  web/src/main.ts
  web/src/router/index.ts
  web/src/styles/variables.css
  web/src/views/DashboardView.vue
  web/src/views/auth/LoginView.vue
  web/src/views/auth/RegisterView.vue
Due: eslint

fix(web): prevent redirect on login failure to show error message
  web/src/api/client.ts
Due: eslint

feat(web): add public landing page and restructure routing
  web/src/layouts/LandingLayout.vue
  web/src/layouts/MainLayout.vue
  web/src/router/index.ts
  web/src/views/LandingView.vue
  web/src/views/auth/LoginView.vue
Due: eslint

feat(web): enhance dashboard UI with glassmorphism and animations
  web/src/layouts/MainLayout.vue
  web/src/views/DashboardView.vue
Due: eslint

fix(ci): resolve GitHub Actions failures
  internal/handlers/handlers_test.go
  web/env.d.ts
  web/src/__tests__/setup.test.ts
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-mod-tidy, eslint

fix: resolve golangci-lint errors
  internal/audit/logger.go
  internal/capture/browser.go
  internal/capture/inliner.go
  internal/handlers/capture.go
  internal/handlers/handlers_test.go
Due: go-fmt, go-mod-tidy

fix: resolve all golangci-lint errors
  CLAUDE.md
  internal/capture/browser.go
  internal/capture/browser_test.go
  internal/capture/inliner.go
  internal/config/config.go
  internal/db/db.go
  internal/handlers/admin.go
  internal/handlers/capture.go
  internal/handlers/handlers.go
  internal/handlers/handlers_test.go
  internal/handlers/settings.go
  internal/middleware/middleware.go
  internal/models/models.go
  internal/notify/smtp.go
  internal/notify/webhook.go
  internal/queue/queue.go
  internal/routes/routes.go
  internal/storage/s3.go
  internal/storage/storage.go
Due: go-fmt, go-mod-tidy

fix(docker): redirect container logs to stdout/stderr
  deploy/nginx.conf
  deploy/supervisord.conf
Due: none

feat(makefile): refactor with comprehensive docker-compose lifecycle management
  CLAUDE.md
  Makefile
  docker-compose.yaml.example
Due: none

feat(web): add auto-refresh polling and improve table styling
  .dockerignore
  web/src/composables/usePolling.ts
  web/src/main.ts
  web/src/styles/table.css
  web/src/views/DashboardView.vue
  web/src/views/SmtpConfigView.vue
  web/src/views/TaskDetailView.vue
  web/src/views/TaskListView.vue
  web/src/views/WebhookConfigView.vue
Due: eslint

fix(docker): add international font support for PDF/screenshot generation
  deploy/Dockerfile
Due: none

feat(web): add i18n support with English and Chinese locales
  web/.eslintrc.cjs
  web/package-lock.json
  web/package.json
  web/src/App.vue
  web/src/components/common/LanguageSwitcher.vue
  web/src/i18n/index.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/zh.json
  web/src/layouts/AuthLayout.vue
  web/src/layouts/MainLayout.vue
  web/src/main.ts
  web/src/stores/ui.ts
  web/src/views/DashboardView.vue
  web/src/views/LandingView.vue
  web/src/views/NotFoundView.vue
  web/src/views/SettingsView.vue
  web/src/views/SmtpConfigView.vue
  web/src/views/TaskCreateView.vue
  web/src/views/TaskDetailView.vue
  web/src/views/TaskListView.vue
  web/src/views/WebhookConfigView.vue
  web/src/views/admin/AuditLogView.vue
  web/src/views/admin/SystemConfigView.vue
  web/src/views/admin/UserManagementView.vue
  web/src/views/auth/LoginView.vue
  web/src/views/auth/RegisterView.vue
Due: eslint

ci: auto build and push latest image on master push
  .github/workflows/ci.yaml
Due: none

ci: use native ARM64 runner for faster multi-arch builds
  .github/workflows/ci.yaml
Due: none

feat: add site config and improve UI consistency
  internal/db/db.go
  internal/handlers/admin.go
  internal/handlers/handlers.go
  internal/models/models.go
  internal/routes/routes.go
  web/package-lock.json
  web/package.json
  web/src/api/admin.ts
  web/src/api/public.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/zh.json
  web/src/layouts/AuthLayout.vue
  web/src/layouts/MainLayout.vue
  web/src/stores/siteConfig.ts
  web/src/types/api.ts
  web/src/views/LandingView.vue
  web/src/views/SettingsView.vue
  web/src/views/SmtpConfigView.vue
  web/src/views/TaskCreateView.vue
  web/src/views/WebhookConfigView.vue
  web/src/views/admin/AuditLogView.vue
  web/src/views/admin/SystemConfigView.vue
  web/src/views/admin/UserManagementView.vue
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-mod-tidy, eslint

feat(web): unify header and optimize landing page UI
  web/src/components/common/PublicHeader.vue
  web/src/layouts/AuthLayout.vue
  web/src/views/LandingView.vue
Due: eslint

feat(web): unify settings tab style with admin layout
  web/src/views/SettingsView.vue
Due: eslint

feat(docker): add PUID/PGID support for bind mount permissions
  .env.example
  README.md
  deploy/Dockerfile
  deploy/entrypoint.sh
  docker-compose.yaml.example
Due: none

feat(storage): use date-hierarchical path with UTC timestamp
  internal/queue/queue.go
Due: go-fmt, go-mod-tidy

fix(web): use i18n for format labels in task views
  web/src/views/TaskDetailView.vue
  web/src/views/TaskListView.vue
Due: eslint

feat(web): add file preview for PDF and PNG outputs
  internal/handlers/capture.go
  internal/routes/routes.go
  web/src/api/tasks.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/zh.json
  web/src/stores/ui.ts
  web/src/views/TaskDetailView.vue
Due: go-fmt, go-mod-tidy, eslint

feat(audit): implement functional audit logging system
  go.mod
  internal/audit/details.go
  internal/audit/logger.go
  internal/handlers/admin.go
  internal/handlers/capture.go
  internal/handlers/handlers.go
  internal/handlers/handlers_test.go
  internal/handlers/settings.go
  internal/routes/routes.go
  web/src/api/admin.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/zh.json
  web/src/views/admin/AuditLogView.vue
Due: go-fmt, go-mod-tidy, eslint

fix(web): center how-it-works steps section on landing page
  web/src/views/LandingView.vue
Due: eslint

feat(task): add retry status tracking with attempts display
  internal/db/db.go
  internal/handlers/capture.go
  internal/models/models.go
  internal/queue/queue.go
  web/src/i18n/locales/en.json
  web/src/i18n/locales/zh.json
  web/src/types/task.ts
  web/src/views/DashboardView.vue
  web/src/views/TaskDetailView.vue
  web/src/views/TaskListView.vue
Due: go-fmt, go-mod-tidy, eslint

chore: remove unused Atlas migration infrastructure
  .github/workflows/ci.yaml
  .gitignore
  CLAUDE.md
  Makefile
Due: none

refactor(web): unify task status formatting with shared composable
  web/src/composables/useStatusFormatter.ts
  web/src/views/DashboardView.vue
  web/src/views/TaskDetailView.vue
  web/src/views/TaskListView.vue
Due: eslint

fix(web): use short status text in list views for better display
  web/src/composables/useStatusFormatter.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/zh.json
  web/src/views/DashboardView.vue
  web/src/views/TaskListView.vue
Due: eslint

fix(i18n): distinguish waiting vs retrying status in English
  web/src/i18n/locales/en.json
Due: none

feat(avatar): add user avatar upload with auto-compression
  deploy/nginx.conf
  go.mod
  go.sum
  internal/handlers/admin.go
  internal/handlers/avatar.go
  internal/handlers/handlers.go
  internal/models/models.go
  internal/pkg/avatar/avatar.go
  internal/routes/routes.go
  web/src/api/client.ts
  web/src/api/user.ts
  web/src/components/common/AvatarUpload.vue
  web/src/components/common/PublicHeader.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/zh.json
  web/src/layouts/MainLayout.vue
  web/src/types/user.ts
  web/src/views/SettingsView.vue
  web/vite.config.ts
Due: go-fmt, go-mod-tidy, eslint

fix(lint): extract role constants to fix goconst warning
  internal/handlers/admin.go
  internal/handlers/handlers.go
  internal/models/models.go
Due: go-fmt, go-mod-tidy

refactor(avatar): improve security and extract shared composable
  internal/handlers/avatar.go
  internal/pkg/avatar/avatar.go
  web/src/api/user.ts
  web/src/components/common/AvatarUpload.vue
  web/src/components/common/PublicHeader.vue
  web/src/composables/useAvatar.ts
  web/src/layouts/MainLayout.vue
Due: go-fmt, go-mod-tidy, eslint
